<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3-Tier App</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>

    <h1>Name Register Web App</h1>
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name">
        <button onclick="addName()">Add</button>
    </div>
    <ul id="namesList"></ul>

    <script src="../static/scripts.js"></script>
</body>

</html>